#create-post-cont {
  width: 411px;
  height: 823px;
  position: relative;
  background-color: #ffffff;
 
}
#write-issue-text {
  position: absolute;
  top: 129px;
  left: 26px;
  width: 187px;
  height: 24px;
  color: #37474f;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
#write-issue-text:active{
    border: 1px solid red;
}

#create-post-text-area {
  position: absolute;
  width: 359px;
  height: 273px;
  left: 26px;
  top: 177px;
  background: #ffffff;
  border: 0.5px solid #d8dadc;
  box-sizing: border-box;
  border-radius: 12px;
  padding-top: 60px;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  padding-left: 5px;
  color: #37474f;
}
#create-post-select {
  position: absolute;
  top: 200px;
  left: 200px;
  z-index: 1;
  height: 30px;
  width: 170px;
  border-radius: 30px;
  outline: none;
  border: 2px solid #37474f;
  cursor: pointer;
  text-align: center;
}

#create-post-btn {
  position: absolute;
  width: 146px;
  height: 44px;
  left: 133px;
  top: 503px;
  background: #a28efc;
  border-radius: 30px;
  border: 0px;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-family: "Poppins";
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in;

 
}

#create-post-btn:active{
    background: #534883;
 }

