#forum{
    position: relative;
    height: 823px;
    background: #FFFFFF;
    margin: auto;
}

#btn1{
    position:absolute;
    left:50px;
    top:60px;
}
#btn2{
    position:absolute;
    left:50px;
    top:100px;
}