@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#login {
    position: relative;
    width: 411px;
    height: 823px;
    background: #FFFFFF;
    margin: auto;
}

#logo{
    position: absolute;
    width:163px;
    height:163px;
    left: 122px;
    top:53px;
}

.fields{
    position: absolute;
    width: 363px;
    height: 48px;
    left:24px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 37px;
}

#form>input:nth-child(1){
    top:294px
}

#form>input:nth-child(2){
    top:362px
}

#form>input:nth-child(3){
    top:430px
}

#form>input:nth-child(4){
    position: absolute;
    width: 362px;
    height: 54px;
    left:24px;
    top:498px;
    padding: 12px 85px;
    background: #A28EFC;
    color: #FFFFFF;
    border-radius: 30px;
    font-family: 'Poppins';
    font-style: normal; 
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    border:none;
}

p{
    position: absolute;
    top: 574px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #656B75;
}

#member{
    left: 100px;
}

#Login{
    left: 264px;
    text-decoration-line: underline
}

#facebook,#google{
    position:absolute;
    width:362px;
    height: 48px;
    top: 639px;
    left:24px;
    border: 1px solid #D8DADC;
    box-sizing: border-box;
    border-radius: 32px;
    background: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #656B75;
}

#google{
    top: 699px;
}

#facebook>img{
    position: absolute;
    width: 36px;
    height: 36px;
    top: 6px;
    left:20px;
}

#google>img{
    position: absolute;
    width: 36px;
    height: 36px;
    top: 6px;
    left:20px;
}