@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#docDetailBox{
        position: relative;
        width: 411px;
        height: 823px;
        background: #FFFFFF;
        margin: auto;
}
#docDetailHeading{
        position: absolute;
        width: 411px;
        height: 48px;
        left: 0px;
        top: 44px;

        background: #D8EFFF;
}

#docDetailArrow{
        left: 17.33%;
        right: 16.67%;
        top: 17%;
        bottom: 17%;
        background: #37474F;
}

#docDetailTherapist{
    
        position: static;
        width: 106px;
        height: 30px;
        left: calc(50% - 106px/2 + 17px);
        top: 0px;

        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */

        text-align: center;

        /* TEXT/HEADING COLOR */

        color: #37474F;


        /* Inside Auto Layout */

        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 10px;
}
#docDetailImg{
        position: absolute;
        width: 411px;
        height: 219px;
        left: 0px;
        top: 92px;
}
#docName{

        position: absolute;
        width: 92px;
        height: 30px;
        left: 24px;
        top: 343px;

        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */

        display: flex;
        align-items: center;

        /* TEXT/HEADING COLOR */

        color: #37474F;
}

#docQualification{
    
        position: absolute;
        width: 202px;
        height: 21px;
        left: 24px;
        top: 379px;

        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */

        display: flex;
        align-items: center;

        /* TEXT/ BODY COLOR */

        color: #656B75;
}

#docSpecialisation{
    
position: absolute;
width: 145px;
height: 30px;
left: 24px;
top: 453px;

font-family: "Poppins";
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

display: flex;
align-items: center;

/* TEXT/HEADING COLOR */

color: #37474F;
}

#docCategory{
        position: absolute;
        width: 183px;
        height: 21px;
        left: 24px;
        top: 491px;

        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */

        display: flex;
        align-items: center;

        /* TEXT/ BODY COLOR */

        color: #656B75;
}

#docIntroduction{
        position: absolute;
        width: 126px;
        height: 30px;
        left: 24px;
        top: 528px;

        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */

        display: flex;
        align-items: center;

        /* TEXT/HEADING COLOR */

        color: #37474F;

}

#docBook{
    
    position: absolute;
    width: 146px;
    height: 44px;
    left: 133px;
    top: 762px;

    /* PRIMARY/LAVENDER1 - CTA */

    background: #A28EFC;
    border-radius: 30px;
}

    #docIntroParagraph{
        position: absolute;
        width: 350px;
        height: 156px;
        left: 24px;
        top: 574px;
        text-align: left;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;

        /* TEXT/ BODY COLOR */

        color: #656B75;
    }

   